<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CrearListarA</servlet-name>
        <servlet-class>ControladorA.CrearListarA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPorAreaA</servlet-name>
        <servlet-class>ControladorA.ListarPorAreaA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarElementoA</servlet-name>
        <servlet-class>ControladorA.BuscarElementoA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarElementoA</servlet-name>
        <servlet-class>ControladorA.BorrarElementoA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoPrestamoA</servlet-name>
        <servlet-class>ControladorA.NuevoPrestamoA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarA</servlet-name>
        <servlet-class>ControladorA.ModificarA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DevolucionA</servlet-name>
        <servlet-class>ControladorA.DevolucionA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPrestamosA</servlet-name>
        <servlet-class>ControladorA.ListarPrestamosA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PazSalvoA</servlet-name>
        <servlet-class>ControladorA.PazSalvoA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarServletA</servlet-name>
        <servlet-class>ControladorA.BarServletA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearListarA</servlet-name>
        <url-pattern>/CrearListarA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPorAreaA</servlet-name>
        <url-pattern>/ListarPorAreaA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarElementoA</servlet-name>
        <url-pattern>/BuscarElementoA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarElementoA</servlet-name>
        <url-pattern>/BorrarElementoA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoPrestamoA</servlet-name>
        <url-pattern>/NuevoPrestamoA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarA</servlet-name>
        <url-pattern>/ModificarA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DevolucionA</servlet-name>
        <url-pattern>/DevolucionA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPrestamosA</servlet-name>
        <url-pattern>/ListarPrestamosA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PazSalvoA</servlet-name>
        <url-pattern>/PazSalvoA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BarServletA</servlet-name>
        <url-pattern>/BarServletA</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CrearListarU</servlet-name>
        <servlet-class>Controlador.CrearListarU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPorAreaU</servlet-name>
        <servlet-class>Controlador.ListarPorAreaU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarUsuarioU</servlet-name>
        <servlet-class>Controlador.ValidarUsuarioU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarElementoU</servlet-name>
        <servlet-class>Controlador.BuscarElementoU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarClaveU</servlet-name>
        <servlet-class>Controlador.CambiarClaveU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstadoU</servlet-name>
        <servlet-class>Controlador.EstadoU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistorialU</servlet-name>
        <servlet-class>Controlador.HistorialU</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidarUsuarioU</servlet-name>
        <url-pattern>/ValidarUsuarioU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearListarU</servlet-name>
        <url-pattern>/CrearListarU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarElementoU</servlet-name>
        <url-pattern>/BuscarElementoU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPorAreaU</servlet-name>
        <url-pattern>/ListarPorAreaU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarClaveU</servlet-name>
        <url-pattern>/CambiarClaveU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstadoU</servlet-name>
        <url-pattern>/EstadoU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistorialU</servlet-name>
        <url-pattern>/HistorialU</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>

